:root {
  /* ОСНОВНЫЕ КОРЕШКИ */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --background-color: #fff;
  --secondary-background-color: #f5f4fa;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}

body {
  font-family: var(--main-font);
}

/* HEADER PART */

.logo-img {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.logo-black {
  color: #000000;
}

.navigation-link {
  /* font-family: var(--main-font); */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.mail-link,
.tel-link {
  /* font-family: var(--main-font); */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* HEADER PART AND*/

/*  HERO*/

.hero {
  background-color: #2f303a;
}

.hero-title {
  /* font-family: var(--main-font); */
  /* font-style: normal; */
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-button {
  background-color: var(--accent-color);
  cursor: pointer;
  color: #ffffff;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  color: #ffffff;
}

/*  HERO END*/

/* MAIN PART */

.small-titles {
  /* font-family: var(--main-font); */
  /* font-style: normal; */
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);
}

.small-description {
  /* font-family: var(--main-font); */
  /* font-style: normal; */
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--text-color);
}
.about-us {
  /* font-family: var(--main-font); */
  /* font-style: normal; */
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
.list {
  background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
  mix-blend-mode: normal;
}

.our-team {
  /* font-family: var(--main-font); */
  /* font-style: normal; */
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.team-member {
  /* font-family: var(--main-font); */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 18;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.team-position {
  /* font-family: var(--main-font); */
  /* font-style: normal; */
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 18;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

/* MAIN PART END*/

/* FOOTER */

footer {
  background-color: #2f303a;
}

.our-address {
  color: #2f303a;
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1, 71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ======================== PORTFOLIO ======================== */

.radio-button:hover,
.radio-button:focus {
  background-color: var(--accent-color);
  cursor: pointer;
  color: #ffffff;
}
.radio-button {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
  background: #f5f4fa;
  border-radius: 4px;
}

.projects-name {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}

.projects-name-category {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1, 87;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: var(--text-color);
}
