.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
.navigation-link {
  font-family: "Roboto", sans-serif;
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-link:hover,
.navigation-link:focus {
  color: #2196f3;
}
.mail-link,
.tel-link {
  font-family: "Roboto", sans-serif;
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
